html {
    height: 100%;
}

body {
    color: $text-color;
    font-family: $text-font;
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

p {
    margin: 0;
}

input[type="text"], textarea, select {
    border: 1px solid lighten( $text-color, 50% );
    border-radius: 4px;
    line-height: 20px;
    padding: 10px;
}

select {
    appearance: none;
    background: url('/assets/imgs/icon-dropdown.png') white no-repeat 97% 50%;
    height: 45px;
    -webkit-appearance: none;
}


@media screen and (max-width: $small) {

    .container {
        max-width: 1180px;
        padding: 0 10px;
    }
}