@import url('https://fonts.googleapis.com/css?family=Oxygen|Petit+Formal+Script');
@import url('https://fonts.googleapis.com/css?family=Parisienne');

@font-face {
    font-family: 'Milasian';
    src: url('assets/fonts/MilasianCircaMediumPERSONAL.ttf?') format('truetype');
}

@font-face {
    font-family: 'Bluebell';
    src: url('assets/fonts/Bluebell.ttf?') format('truetype');
}