<div class="gift-registry">
    <div class="container">
        <img src="assets/imgs/flowers-deco-3.png">
        <h2>Mesa de regalos</h2>
        <p>
            Para nosotros lo más importante es tu presencia, pero si quieres regalarnos algo te lo agradeceremos mucho.
            <br>
            Puedes encontrar nuestra mesa de regalos en 
            <br>
            Liverpool con el número 50058495:
        </p>
        <a class="btn" href="https://mesaderegalos.liverpool.com.mx/milistaderegalos/50058495" target="_blank">Ir a mesa de regalos</a>
    </div>
</div>