@import "../../../assets/scss/helpers/variables";
$admin-table-primary: #FFF;
$admin-table-secondary: #E2E2E2;

.admin-list {
  tr:nth-child(odd) {
    background: $admin-table-primary;
  }
  tr:nth-child(even) {
    background: $admin-table-secondary;
  }
}

.admin-form {
  .control-group {
    padding-top: $padding;
  }
  .alert-danger {
    color: red;
  }
}

  .content-page {
    background: $secondary-color;
    color: $main-color;
    padding-top: $padding * 5;
    ul {
        padding: 0;
        margin: 0;
    }  
  }
  .spinner-ow-overlay {
    background: white;
    width: 100%;
    height: 100%;
    opacity: .5;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
  
    .spinner-ow {
      position: fixed;
      left: 50%;
      top: 50%;
    }
    
  }
