@import "../../../../assets/scss/helpers/variables";

:host {
    
    .cover {
        height: 100%;
        position: relative;
        text-align: center;
        width: 100%;
        background: {
            image: url('/assets/imgs/us.png');
            position: center center;
            repeat: no-repeat;
            size: cover;
        }

        p {
            color: white;
            font-family: $cursive-font;
            font-size: 60px;
            font-weight: normal;
            left: 0;
            position: absolute;
            right: 0;
            top: 50%;
            z-index: 2;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .ornament {
                background: url('src/assets/imgs/line-bottom.png');
                background-repeat: no-repeat;
                background-position: center;
                display: inline-block;
                height: 35px;
                margin-top: $margin;
                width: 100%;
            }
        }

        .overlay {
            background: rgba( 0, 0, 0, .4 );
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
        }
    }

    .save-the-date {
        text-align: center;
        padding: $padding * 6 0;

        img {
            margin-bottom: 25px;
            width: 33%;
        }

        h2 {
            font-family: $cursive-font;
            font-size: 29px;
            font-weight: normal;
            margin: 0;
            margin-bottom: $margin;
        }

        h3 {
            font-family: $highlight-font;
            font-size: 38px;
            margin: 0;
            margin-bottom: $margin * 2;
        }

        p {
            font-size: 15px;
        }
    }

    .wedding-details {
        background: $main-color;
        color: white;
        text-align: center;
        padding: $padding * 6 0;

        img {
            margin-bottom: 25px;
            width: 40%;
        }

        h2 {
            font-family: $cursive-font;
            font-size: 41px;
            font-weight: normal;
            margin: 0;
            margin-bottom: $margin;
        }

        .main-details  {
            display: flex;
            flex-wrap: wrap;

            .detail {
                padding: 0 1%;
                width: 48%;

                img {
                    border-radius: 50%;
                    width: 60%;
                }

                h4 {
                    color: white;
                    font-family: $highlight-font;
                    font-size: 28px;
                }

                p {
                    font-size: 15px;
                    margin-bottom: 10px;
                }

                .where, .time {

                    i {
                        font-size: 16px;
                    }
                }

                .time {
                    font-family: $highlight-font;
                    font-size: 20px;
                    margin-top: 20px;
                }

                a {
                    color: $secondary-color;
                    line-height: 35px;
                }
            }
        }
    }
}

@media screen and (max-width: $small) {

    :host {

        .cover {

            p {
                font-size: 59px;
                top: 40%;
            }
        }

        .save-the-date {
            padding: 53px 0;

            img {
                margin-bottom: 19px;
                width: 84%;
            }

            h2 {
                font-size: 38px;
            }

            h3 {
                font-size: 24px;
            }

            p {
                font-size: 14px;
            }
        }
    }
}