<header-component (submitted)="scrollTo($event)"></header-component>

<section class="cover" #home>
    <p class="subtitle">Nos casamos</p>
    <p class="title">
        Dany y James
        <span class="ornament"></span>
    </p>
    <div class="overlay"></div>
    <a (click)="scrollTo('save-the-date')" class="btn btn-down">scroll down</a>
    <ui-carousel [infinite]="true" [fade]="true" [speed]="2000" [dots]="false" height="100%">
        <ui-carousel-item *ngFor="let item of carousel">
            <img src="{{item.src}}">
        </ui-carousel-item>
    </ui-carousel>
</section>

<section #saveTheDate>
    <save-the-date></save-the-date>
</section>

<section #location>
    <location></location>
</section>

<section #rsvp>
    <rsvp></rsvp>
</section>

<section #giftRegistry>
    <gift-registry></gift-registry>
</section>

<section #accommodation>
    <accommodation></accommodation>
</section>


<footer-component></footer-component>
