<div class="countdown">
    <div class="count">
        <span class="number">{{ days }}</span>
        <span class="label">Días</span>
    </div>
    <div class="count">
        <span class="number">{{ hours }}</span>
        <span class="label">Horas</span>
    </div>
    <div class="count">
        <span class="number">{{ minutes }}</span>
        <span class="label">Minutos</span>
    </div>
    <div class="count">
        <span class="number">{{ seconds }}</span>
        <span class="label">Segundos</span>
    </div>
</div>